/* Email Letterbox Container */
.email-letterbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Set container to full width */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #092f8f; /* Light bluish background */
  }
  
  /* Email Form */
  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Set form to full width */
  }
  
  /* Input Field */
  .input-field {
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px; /* Limit input field width */
    border: 1px solid #a0c8e0; /* Light bluish border */
    border-radius: 5px;
    outline: none;
  }
  
  .input-field::placeholder {
    color: #a0c8e0; /* Light bluish placeholder text */
  }
  
  /* Subscribe Button */
  .subscribe-btn {
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 200px; /* Limit button width */
    border: none;
    border-radius: 5px;
    background-color: #2777ff; /* Darker bluish button */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .subscribe-btn:hover {
    background-color: #074bc1; /* Hover effect with even darker bluish color */
  }
  
  /* Subscription Success Message */
  .subscription-success {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #2777ff; /* Darker bluish text for success message */
  }
  